@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap");
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
* {
  box-sizing: border-box;
}
ul li {
  list-style: none;
}
@keyframes h {
  0% {
    opacity: 0;
    transform: translateY(-5rem);
  }
  80% {
    opacity: 0.5;
    transform: translateY(1rem);
  }
  100% {
    transform: translateY(0rem);
  }
}
@keyframes e {
  0% {
    opacity: 0;
    transform: translateX(-5rem);
  }
  80% {
    opacity: 0.5;
    transform: translateY(1rem);
  }
  100% {
    opacity: 1;
    transform: translateY(0rem);
  }
}
@keyframes l1 {
  0% {
    opacity: 0;
    transform: translateY(5rem);
    transform: rotate(360deg);
  }
  80% {
    opacity: 0.5;
    transform: translateY(1rem);
    transform: rotate(-180deg);
  }
  100% {
    opacity: 1;
    transform: translateY(0rem);
    transform: rotate(0deg);
  }
}
@keyframes l2 {
  0% {
    opacity: 0;
    transform: translateY(5rem);
    transform: rotate(360deg);
  }
  80% {
    opacity: 0.5;
    transform: translateY(1rem);
    transform: rotate(-360deg);
  }
  100% {
    opacity: 1;
    transform: translateY(0rem);
    transform: rotate(0deg);
  }
}
@keyframes o {
  0% {
    opacity: 0;
    transform: rotateY(360deg);
  }
  80% {
    opacity: 0.5;
    transform: rotateY(180deg);
  }
  100% {
    opacity: 1;
    transform: rotateY(0deg);
  }
}

@keyframes do {
  0% {
    opacity: 0;
    transform: translateY(-5rem);
  }
  80% {
    opacity: 0.5;
    transform: translateY(1rem);
  }
  100% {
    opacity: 1;
    transform: translateY(0rem);
  }
}
@keyframes menu {
  0% {
    transform: scaleY(0);
  }
  50% {
    transform: scaleY(1.5);
  }
  100% {
    transform: scaleY(1);
  }
}
@keyframes scroll {
  0% {
    transform: scaleY(2);
    transform: translateY(-3rem);
  }
  50% {
    transform: scaleY(2.5);
    transform: translateY(3rem);
  }
  100% {
    transform: scaleY(3);
    transform: translateY(-3rem);
  }
}

/******************/
/*HELLO COMPONENT*/
/******************/
.hello {
  padding: 100px;
  font-weight: 700;
  color: #1c1b20;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
}
.halfscreen {
  align-items: center;
  height: 100vh;
  position: absolute;
  width: 50vw;
  padding: 35px;
  padding-right: 0px;
  transition: all 1s;
}
.twohalfscreen {
  align-items: center;
  height: 100vh;
  position: absolute;
  padding: 35px;
  padding-left: 0px;
  left: 50%;
}
.whitescreen {
  width: 100%;
  height: 100%;
  background-color: #f8f8f8;
}
.colororg {
  width: 100%;
  height: 100%;
  background-color: #ff5851;
}
.h {
  font-size: 12vw;
  animation: h 4s;
}
.e {
  font-size: 12vw;
  animation: e 4s;
}
.l1 {
  opacity: 1;
  font-size: 12vw;
  animation: l1 4s;
}
.l2 {
  font-size: 12vw;
  animation: l2 4s;
}
.o {
  font-size: 12vw;
  animation: o 4s;
}
.dot {
  font-size: 14vw;
  animation: do 3.8s;
  color: #ff5851;
}
.title {
  font-size: 13px;
  line-height: 40px;
  font-weight: 600;
  font-family: "Roboto Condensed", sans-serif;
  letter-spacing: 0.2em;
  position: absolute;
  top: 0px;
}
.scroll {
  display: inline-block;
  text-align: center;
  font-size: 1rem;
  text-transform: uppercase;
  font-family: "Lato", sans-serif;
  font-weight: 900;
  letter-spacing: 0.2em;
  height: 30px;
  position: absolute;
  bottom: 15vh;
  right: 50%;
  text-transform: lowercase !important;
  animation: scroll 3s infinite;
}
.scroll svg line {
  stroke-width: 2px;
}
@media screen and (max-width: 578px) {
  .halfscreen {
    padding: 0px;
  }
  .hello {
    font-weight: 900;
  }
  .title {
    padding: 20px;
  }
  .twohalfscreen {
    padding: 0px;
  }
}

/******************/
/*MENU COMPONENT*/
/******************/
.menu {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.listhover {
  width: 0vw;
  height: 90vh;
  background-color: #fff;
  transition: width 1s;
  position: absolute;
  display: flex;
  left: 0px;
}
.menu:hover .listhover {
  width: 7vw;
}
menu:active .list.active {
  width: 30vw;
}
.menu ul li {
  list-style: none;
  display: flex;
  justify-content: space-evenly;
  line-height: 300%;
}
.menu-icon {
  cursor: pointer;
}
.menu-icon span:nth-child(2) {
  width: 5px;
  height: 5px;
  border-bottom: solid black;
  background: black;
}
.menu-icon div {
  display: inline-block;
  text-align: center;
  font-size: 0.7rem;
  text-transform: uppercase;
  font-family: "Lato", sans-serif;
  font-weight: 900;
  letter-spacing: 0.2em;
}
.menu-icon {
  -webkit-transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  -o-transform: rotate(-90deg);
  transform: rotate(-90deg);
  -webkit-transition: -webkit-transform 400ms cubic-bezier(0.7, 0, 0.3, 1) 0ms,
    opacity 150ms linear 0ms, color 150ms linear 0ms;
  -moz-transition: -moz-transform 400ms cubic-bezier(0.7, 0, 0.3, 1) 0ms,
    opacity 150ms linear 0ms, color 150ms linear 0ms;
  transition: transform 400ms cubic-bezier(0.7, 0, 0.3, 1) 0ms,
    opacity 150ms linear 0ms, color 150ms linear 0ms;
}
input {
  width: 0px;
  height: 0px;
  margin: 0px;
  padding: 0px;
}
.list {
  transition: all 0.6s;
  display: flex;
  left: -200px;
  flex-direction: column;
  width: 0vw;
  height: 90vh;
  position: absolute;
  z-index: 1;
  justify-content: center;
  align-items: center;
  background: white;
}
input[type="checkbox"]:checked ~ .list {
  left: 0px;
  width: 50vw;
}
.menubackscreen {
  align-items: center;
  height: 100vh;
  position: absolute;
  width: 0vw;
  left: 0;
  padding-right: 0px;
  transition: all 0.4s;
}
input[type="checkbox"]:checked ~ .menubackscreen {
  width: 80vw;
}
/* .list.active {
  background: white;
  left: 0px;
  opacity: 1;
  transition: all 0.5s ease-in-out;
  z-index: 1;
  padding: 0px;
  margin: 0px !important;
  position: absolute;
  justify-content: center;
  align-items: center;
  height: 100vh;
} */
.list li a {
  display: inline-block;
  vertical-align: middle;
  position: relative;
  font-family: "Gilroy", sans-serif;
  font-size: 1.5rem;
  line-height: 2;
  font-weight: 900;
  text-decoration: none !important;
  color: inherit;
}
.aboutme span::before {
  background: #ff5851;
}
.projects span::before {
  background: #414a6b;
}
.experince span::before {
  background: #f3c130;
}
a span {
  padding-left: 10px;
  padding-right: 10px;
}
a span::before {
  content: "";
  display: block;
  position: absolute;
  top: 30%;
  left: 0px;
  right: 0px;
  height: 20px;
  background: #6d6d6d;
  opacity: 0.5;
  z-index: -1;
}
.closeicon {
  cursor: pointer;
  display: flex;
  position: absolute;
  padding: 12px;
  border-radius: 8px;
  left: 10px;
  background-color: #ff5851;
  color: #fff;
  transition: all 1s;
}
.closeicon:hover {
  background-color: #ff5851;
  color: black;
}
.menu-icon line {
  stroke-width: 2px;
}
.menu-icon:hover line {
  animation: menu 1s;
}
@media screen and (max-width: 578px) {
  input[type="checkbox"]:checked ~ .list {
    left: 0px;
    height: 100vh;
    width: 80vw;
  }
}

/******************/
/*SOCIAL COMPONENT*/
/******************/
.social {
  float: right;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.wig {
  padding: 0px;
  background: white;
}
.social ul li {
  display: flex;
  padding: 10px;
}
.wig li a {
  text-align: center;
  line-height: 30px;
  font-size: 16px;
  margin: 0 3px;
  display: block;
  position: relative;
  overflow: hidden;
  border: 1px black;
  z-index: 1;
}
.wig li a .fa {
  position: relative;
  transition: 0.5s;
  z-index: 3;
  font-size: 15px;
  color: #1c1b20;
}
.wig li a:hover .fa {
  color: #fff;
  transform: rotateY(360deg);
  font-size: 18px;
}
.wig li:nth-child(1) a:hover .fa {
  color: #2ea3f1;
}
.wig li:nth-child(2) a:hover .fa {
  color: #ff0000;
}
.wig li:nth-child(3) a:hover .fa {
  color: #c13584;
}
.wig li:nth-child(4) a:hover .fa {
  color: #df323a;
}
.wig li a:before {
  content: "";
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  height: 100%;
  transition: 0.5s;
  z-index: 2;
}
@media screen and (max-width: 578px) {
  .wig li a {
    line-height: 60px;
  }
}
